// colors

$titleOrange: #ff7700;
$titleGrey: #676666;
$mainGrey: #565555;
$textColor: #979393;


// fonts

$titleFont: 'Lobster',
sans-serif;
$hFont: 'helvetica_cebold',
sans-serif;
$mainFont: 'helvetica_ceregular',
sans-serif;
$dateFont: 'Bebas Neue',
sans-serif;
$iconFont: 'socialico';

// screen
$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';
$projector: 'min-width: 1200px';